{%extends "admin_layout.html"%}
{%block content%}
                <div class="my_form">
                <div>
                  <h6> ID : {{quiz.id }}</h6><br>
                  <h6> Subject : {{ quiz.Chapters.Subjects.name  }}</h6><br>
                  <h6> chapter : {{ quiz.Chapters.name }}</h6><br>
                  <h6> No. of question : {{ quiz.Question | length }}</h6><br>
                  <h6>sheduled date : {{quiz.date }}</h6><br>
                  <h6>duration : {{quiz.time_duration  }} minutes</h6>
                </div><br>
                <a class="btn btn-danger" href="/quiz_management//{{name}}" role="button">Close</a>
                </div>
{%endblock%}