{%extends "admin_layout.html"%}
{%block content%}
<div class="my_form">
    <form action="#" method="POST">
      <div class="mb-3">
        <label for="new_chapter" class="form-label">chapter name</label>
        <input type="text" class="form-control" id="new_chapter" name="new_chapter" value="{{chr.name}}">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">description</label>
        <input type="text" class="form-control" id="desc" name="desc" value="{{chr.description}}" >
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-success">SAVE</button>
        <a class="btn btn-primary" href="/admin_dashboard/{{name}}" role="button">Cancel</a>
      </div>
    </form>
</div>
{%endblock%}