{%extends "admin_layout.html"%}
{%block content%}
<div class="my_form">
  <form action="#" method="POST">
    <div class="mb-3">
        <label for="newchapter" class="form-label">chapter name</label>
        <input type="text" class="form-control" id="newchapter" name="newchapter" >
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">description</label>
      <input type="text" class="form-control" id="description" name="description" >
    </div>
    <div>
      <button type="submit" class="btn btn-success">SAVE</button>
      <a class="btn btn-primary" href="/admin_dashboard/{{name}}" role="button">Cancel</a>
    </div>
  </form>
  <h4>{{msg}}</h4>
</div>
{%endblock%}