{%extends "user_layout.html"%}
{%block content%}
<div>
  <h5 class="center">summary page</h5>
    <div class="container overflow-hidden text-center">
        <div class="row gx-5">
          <div class="col">
            <img src="/static/images/user_summary1.jpeg" alt="summary image" width="500" height="500">
          </div>
          <div class="col">
            <img src="/static/images/user_summary2.jpeg" alt="summary image" width="500" height="500">
          </div>
        </div>
    </div>
</div>
{%endblock%}