{%extends "user_layout.html"%}
{%block content%}
            {%if quizzes%}
            {%for q in quizzes%}
            <div>
              {%if q.status=="Active"%}
              <div class="small_form">
                <h4 class="center">Upcoming Quizzes</h4>
                <div class="container text-center">
                  <div class="row">
                    <div class="col">
                      ID
                    </div>
                    <div class="col">
                      No.fo questions
                    </div>
                    <div class="col">
                      date
                    </div>
                    <div class="col">
                      duration
                    </div>
                    <div class="col">
                      action
                    </div>
                  </div>
                  {%if not q.Score.is_score%}
                  <div class="row">
                    <div class="col">
                      {{q.id}}
                    </div>
                    <div class="col">
                      {{q.Question | length}}
                    </div>
                    <div class="col">
                      {{q.date}}
                    </div>
                    <div class="col">
                      {{q.time_duration}}
                    </div>
                    <div class="col">
                      <a class="btn btn-success" href="/start_quiz/{{id}}/{{name}}/{{q.id}}" role="button">Start</a>
                      <a class="btn btn-primary" href="/view_quiz_d/{{id}}/{{name}}/{{q.id}}" role="button">view</a>     
                    </div>
                  </div>
                  {%else%}
                  <div>
                    <h4 class="center">No Upcoming Quizzes</h4>
                  </div>
                  {%endif%}
                </div>
              </div>
              {%endif%}
              <br><br>
              {%if q.status=="Active"%}
              <div class="small_form">
                <h4 class="center">Attempted Quizzes</h4>
                <div class="container text-center">
                  <div class="row">
                    <div class="col">
                      ID
                    </div>
                    <div class="col">
                      No.fo questions
                    </div>
                    <div class="col">
                      date
                    </div>
                    <div class="col">
                      duration
                    </div>
                    <div class="col">
                      action
                    </div>
                  </div>
                  {%if q.Score.is_score%}
                  <div class="row">
                    <div class="col">
                      {{q.id}}
                    </div>
                    <div class="col">
                      {{q.Question | length}}
                    </div>
                    <div class="col">
                      {{q.date}}
                    </div>
                    <div class="col">
                      {{q.time_duration}}
                    </div>
                    <div class="col">
                      <a class="btn btn-success" href="/start_quiz/{{id}}/{{name}}/{{q.id}}" role="button">Re-Take</a>
                      <a class="btn btn-primary" href="/view_result/{{id}}/{{name}}/{{q.id}}" role="button">view_result</a>     
                    </div>
                  </div>
                  {%else%}
                  <div>
                    <h4 class="center">you did not attempted any quiz yet</h4>
                  </div>
                  {%endif%}
                </div>
              </div>
              <br><br><br><br>
              {%elif q.status=="Closed"%}
              <div class="small_form">
                <h4 class="center">closed quizzes </h4>
                <div class="container text-center">
                  <div class="row">
                    <div class="col">
                      ID
                    </div>
                    <div class="col">
                      No.fo questions
                    </div>
                    <div class="col">
                      date
                    </div>
                    <div class="col">
                      duration
                    </div>
                    <div class="col">
                      action
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      {{q.id}}
                    </div>
                    <div class="col">
                      {{q.Question | length}}
                    </div>
                    <div class="col">
                      {{q.date}}
                    </div>
                    <div class="col">
                      {{q.time_duration}}
                    </div>
                    <div class="col">
                      <a class="btn btn-success" href="/start_quiz/{{id}}/{{name}}/{{q.id}}" role="button" aria-disabled="true">Start</a>
                      <a class="btn btn-primary" href="/view_quiz_d/{{id}}/{{name}}/{{q.id}}" role="button">view</a>     
                    </div>
                  </div>
                </div>
              </div>
              {%else%}
              <div class="center">
                <h4>there is error in quizzes</h4>
              </div>
              {%endif%}
            </div>
            {%endfor%}
            {%else%}
              <div class="center">
                <h5>No Quiz avaliable</h5>
              </div>
            {%endif%}
{%endblock%}
